@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( #191c32, #1f1d36);
  color: #fff;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand{
  margin-top: -7px;
}
.brand span{
  color: aqua;
}
.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}
.menu a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.menu .active{
  color: aqua;
}
.menu a:hover {
  background-color: aqua;
  color: #191c32;
  transition: ease-in .4s;
}
.img{
  width: 100%;
  height: 40%;
  border-radius: 20px;
}
.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}